.bd1{
    margin:auto;
    display:table
}
.tkcalcform{
    margin:auto;
    display:table
}
.p1{
    text-align:center
}
.tg{
    border-collapse:collapse;
    border-spacing:0;
    border-color:#999
}
.tg td{
    font-family:Arial,sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:0;
    overflow:hidden;
    word-break:normal;
    border-top-width:1px;
    border-bottom-width:1px;
    border-color:#999;
    color:#444;
    background-color:#F7FDFA
}
.tg th{
    font-family:Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    padding:10px 5px;
    border-style:solid;
    border-width:0;
    overflow:hidden;
    word-break:normal;
    border-top-width:1px;
    border-bottom-width:1px;
    border-color:#999;
    color:#fff;
    background-color:#26ADE4
}
.tg .tg-nc18{
    background-color:#D2E4FC;
    font-size:16px;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-cey4{
    font-size:16px;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-pq3e{
    font-style:italic;
    border-color:inherit;
    text-align:right
}
.tg .tg-9a1n{
    font-size:16px;
    border-color:inherit;
    text-align:right
}
.tg .tg-yu2x{
    font-weight:700;
    font-style:italic;
    font-size:22px;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-er6j{
    background-color:#D2E4FC;
    font-size:16px;
    border-color:inherit;
    text-align:left
}
.tg .tg-c3ow{
    border-color:inherit;
    text-align:center;
    vertical-align:top
}
.tg .tg-4c16{
    font-weight:700;
    font-size:20px;
    font-family:"Times New Roman",Times,serif!important;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-iwgs{
    font-weight:700;
    font-size:16px;
    font-family:"Comic Sans MS",cursive,sans-serif!important;
    border-color:inherit;
    text-align:center
}
.tg .tg-0pky{
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-f8tv{
    font-style:italic;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}

